.menu {
  width: 400px;
  height: 90%;
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding: 0;
  box-shadow: 0.5px 0.5px 10px #666;
  position: absolute;
}

.List_link {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.menu_list {
  margin-top: 20px;
  list-style: none;
}

.menu_list-item {
  display:flex;
  width: 100%;
}

.menu_list-item:hover {
  background-color: rgb(216, 211, 211);
}

input[type="checkbox"] {
  transform: scale(2);
}
