.divTitle {
    width: 210px;
    height: 110px;
    background-color: white;
    box-shadow:  0.5px 0.5px 10px #666; 
    border-radius: 7px;
    margin:-165px 0 0 -104px;
    box-shadow: 0.5px 0.5px 10px #666;
}

.divTitle:after, .arrow_box:before {
    top:-55px;
	left: 1px;
	border: solid transparent;
	content: "";
	position: absolute;
	pointer-events: none;
}

.divTitle_delete {
    margin-left:198px;
    font-size: 14px;
    color:gray;
}

.divTitle_delete:hover {
    color:black;
}

.divTitle:after {
	border-top-color: white;
	border-width: 10px;
	margin-left: -10px;
}